<div class="todo-layout">
  <div class="todo-card">
    <app-todo-header></app-todo-header>
    <app-todo-add-form [editTodo]="editTodo" (newItemEvent)="onItemAdd($event)" (editedItemEvent)="onItemEdit($event)">
    </app-todo-add-form>

    <ul *ngIf="(isLoading$ | async) === false; else loading" class="todo-card_list">
      <app-todo-filter-panel (filterEmitter)="onFilterChange($event)"></app-todo-filter-panel>

      <li *ngFor="let item of todoList$ | async" class="todo-card_list_item">
        <app-todo-item
          [todo]="item"
          (ItemRemove)="onItemRemove($event)"
          (ItemSelect)="onItemSelected($event)"
          (ItemEdit)="onItemEditClick($event)"
          (ItemStatusChanged)="onItemStatusChanged($event)"
          [selectedItemId]="selectedItemId"></app-todo-item>
      </li>
    </ul>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

  <router-outlet></router-outlet>
</div>
