.add-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    margin: 2px;
  }
}

.add-card-panel {
  display: flex;
  justify-content: space-between;
}

.add-tittle {
  margin-right: 0.2rem;
  flex: 1;
}

.ng-invalid:not(form).ng-touched {
  border: 2px solid #de1b1b;
}

.add-card_btn {
  width: 20%;
  max-width: 3rem;
  opacity: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

.add-card_btn--active {
  opacity: 100%;
}

.add-description {
  margin-top: 5px;
  margin-right: 5px;
  width: 98.5%;
  height: 5rem;
  resize: none;
}
