.add-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    margin: 2px;
  }
}

.add-tittle {
  width: 80%;
  height: 1rem;
}

.add-card_btn {
  width: 20%;
  background-color: slategray;
  opacity: 50%;
  text-align: center;
}

.add-card_btn--active {
  opacity: 100%;
}

.add-description {
  width: 90%;
  height: 5rem;
  resize: none;
}
