.add-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    margin: 2px;
  }
}

.add-tittle {
  width: 85%;
  height: 2rem;
}

.ng-valid[required],
.ng-valid.required .ng-touched {
  border: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border: 2px solid #de1b1b;
}

.add-card_btn {
  width: 5%;
  background-color: slategray;
  opacity: 50%;
  text-align: center;
  margin: 5px;
}

.add-card_btn--active {
  opacity: 100%;
}

.add-description {
  margin-top: 5px;
  width: 94%;
  height: 5rem;
  resize: none;
}
