<div class="todo_item" [class.selected]="isSelected" (click)="onSelectedClick(todo.id)">
  <div class="todo_item_text">
    <p (dblclick)="onDblClick(todo.id)">{{ todo.id }} . {{ todo.text }}</p>
  </div>
  <app-button (click)="onItemDelete(todo.id)" appTooltip tooltip="Удалить Задачу" [position]="TooltipPosition.LEFT">
    <ng-container class="btn-icon">🗑️</ng-container>
  </app-button>

  <input
    class="complete-check"
    type="checkbox"
    (change)="changeStatus(todo.id)"
    [checked]="isCompleted"
    appTooltip
    tooltip="{{ isCompleted ? 'Отметить  Выполненной' : 'Отметить  не выполненной' }}"
    [position]="TooltipPosition.LEFT" />
</div>
