.filter-panel {
  margin: 0.5rem;
}

mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
  border: 1px rgba(0, 0, 0, 0) solid !important;
  margin-top: 5px !important;
  padding: 0 5px !important;
  z-index: 3 !important;
}

mat-button-toggle:hover {
  border: 1px #000 solid !important;
  background-color: #fff !important;
  border-radius: 5px !important;
}

.mat-button-toggle-checked {
  background-color: #eac485;
}
